.LogIn-Page {
    height: 100vh;

    //Set the image to background
    .Bakground {
        width: 100%;
        height: 100vh;
        position: fixed;
        background: $ImgBackground no-repeat center/cover;
        z-index: -100;
    }

    //Main box container of form
    .Form-Container {    
        width: 80vw;
        height: 90vh;
        max-width: 450px;
        max-height: 550px;
        
        background-color:rgba(0, 0, 0, 0.7);
        border: 2px solid white;
        border-radius: 1rem;
        box-shadow: 0 0 20px $GlowFx;
        overflow: hidden;

        .CarouselForm-Container {
            width: 100%;
            height: 100%;
        }

        .TextBox-Container {
            display: flex;
            flex-direction: row;
            
            img {
                width: 2rem;
                margin-right: 1rem;
                user-select: none;
            }
        }
        
        .ErrorMessage {
            font-size: 1.5rem;
            color: red;
        }

        //This box contain the submit buttons
        .SubmitButtons-Container {
            grid-row: 3;
            gap: 1rem;
        }   

        a {
            font-size: 1.5rem;
            background-color: transparent;
            color:$PrimaryColor;
            padding: 0;
            user-select: none;
            cursor: pointer;
            transition: 0.3s;
        
            &:hover {
                color: $OnPrimaryColor;
                text-shadow: 0 0 20px $GlowFx;
                transition: 0s;
            }
        }
    }

    //Adjust the components to low resolutions
    @media(width < 450px)
    {
        .Form-Container {
            width: 100%;
            height: 100%;
        }
    }
}