//Colors variables
$White: #FBFBFB;
$DryWhite: #d8d8d8;
$Black: #1a1a1a;
$PrimaryColor: cornflowerblue;
$OnPrimaryColor: white;

//Size variables
$FontSize: 12px;
$BorderRadius: 5px;


//Images variables
$ImgBackground: url("../../../src/img/background.gif");