:root {
  font-size: 12px;
  --Padding: 4px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("img/Background.gif");
  background-position: center;  
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.LogInFormContainer {    
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color:black;
  border-radius: 1rem;
  padding: 32px;
  opacity: 0.8;
}

.Title {
  font-size: 3rem;    
  color: cornflowerblue;
  margin: 0.5rem;
}

.TextBox {
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  border-width: 0 0 5px 0;
  border-color: cornflowerblue;
  padding: var(--Padding);
}

.Button {
  font-size: 1.5rem;
}

label {
  color: white;
}